<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link type="text/css" rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/hogwarts">Welcome to Hogwarts!</a></li>
      <li><a href="/hogwarts/students">All Hogwarts Students</a></li>
      <li><a href="/hogwarts/students/new">Student Enrollment</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
