<h1>New Student</h1>
<form action="/hogwarts/students" method="post">
  <label for="first-name">First Name: </label>
  <input type="text" id="first-name" name="first_name">
  <br>
  <label for="last-name">Last Name: </label>
  <input type="text" id="last-name" name="last_name">
  <br>
  <label for="house">House: </label>
  <select id="house" name="house">
    <% for house in @houses %>
    <option value= '<%=house.id%>'><%=house.name%></option>
    <% end %>
  </select>
  <br>
  <label for="age">Age: </label>
  <input type="number" id= "age" name="age">
  <br>
  <input type="submit" value="Submit application">
</form>
